<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title>게시판</title>
  </head>
  <body>
    <h1>LIST</h1>
    <hr />
    <!-- 인증 정보가 있을 때만 -->
    <div sec:authorize="isAuthenticated()">
      <span th:text="${#authentication.name}"></span>
      <span th:text="${#authentication.authorities}"></span>
      <div>
        <form action="/logout" method="POST">
          <button>로그아웃</button>
          <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
          />
        </form>
      </div>
    </div>
    <!-- 로그인 하지 않은 상태 -->
    <div sec:authorize="isAnonymous()">
      <a href="/login">로그인</a>
      <a href="/signup">회원가입</a>
    </div>
  </body>
</html>
