<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title>INDEX</title>
    <link rel="stylesheet" href="/css/sample.css" />
  </head>
  <body>
    <h1>INDEX</h1>
    <div><a href="/">홈</a></div>
    <div><a href="/login">로그인</a></div>
    <div><a href="/logout">로그아웃(GET) -오류</a></div>
    <div><a href="/signup">회원가입</a></div>
    <div><a href="/board/list">인증게시판</a></div>
    <div>스프링 시큐리티의 로그아웃은 POST 요청으로 합니다.</div>
    <form action="/logout" method="POST">
      <button>로그아웃</button>
      <input
        type="hidden"
        th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}"
      />
    </form>
    <hr />
    <div th:if="${param.logout}">로그아웃 되었습니다.</div>
    <hr />
    <h1>인증정보로 메뉴 항목 보이기</h1>
    <!-- 로그인 하지 않은 상태 -->
    <div sec:authorize="isAnonymous()">
      <a href="/login">로그인</a>
      <a href="/signup">회원가입</a>
    </div>
    <!-- 인증 정보가 있을 때만 -->
    <div sec:authorize="isAuthenticated()">
      <div><span th:text="${#authentication.name}"></span> 님 환영합니다.!</div>
      <div>
        <form action="/logout" method="POST">
          <button>로그아웃</button>
          <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
          />
        </form>
      </div>
    </div>
  </body>
</html>
