<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product</title>
  </head>
  <body>
    <h1>@ModelAttribute</h1>
    <hr />
    <p>
      @ModelAttribute 어노테이션으로 정의한 변수는 파라미터 입력값이면서 동시에
      view로 전달될 애트리뷰트입니다. 👉키워드 :
      <span th:text="${keyword}"></span><br />
      현재 페이지 번호:<span th:text="${page}"></span><br />
      dto:<span th:text="${productDto}"></span>
    </p>
  </body>
</html>
