<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Product Search</title>
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/css/searchForm.css" />
  </head>
  <body>
    <h1>상품 검색</h1>
    <div class="search-form">
      <form method="get" action="searchAllTest">
        <div class="search-row">
          <div class="search-group">
            <label for="searchCode">상품 코드</label>
            <input
              type="text"
              id="searchCode"
              name="pcode"
              th:value="${searchDto!= null ? searchDto.pcode : ''}"
              placeholder="상품코드"
            />
            <!--               th:value="${ searchDto.pcode!=null?searchDto.pcode:''}"
 -->
          </div>
          <div class="search-group">
            <label for="searchPname">상품명</label>
            <input
              type="text"
              id="searchPname"
              name="pname"
              th:value="${searchDto!=null?searchDto.pname:''}"
              placeholder="상품명"
            />
          </div>
        </div>

        <div class="search-row">
          <div class="search-group">
            <label>가격 (price)</label>
            <div class="range-group">
              <input
                type="number"
                name="minPrice"
                th:value="${searchDto!=null?searchDto.minPrice:''}"
                placeholder="최소"
                min="0"
              />
              <span>~</span>
              <input
                type="number"
                name="maxPrice"
                th:value="${searchDto!=null?searchDto.maxPrice:''}"
                placeholder="최대"
                min="0"
              />
            </div>
          </div>
        </div>
        <button class="btn btn-primary">검색</button>
        <button
          type="button"
          class="btn btn-secondary"
          onclick="location.href='searchAll'"
        >
          전체 목록
        </button>
      </form>
    </div>
    <hr />
    <h2>목록</h2>
    <table th:if="${pList != null}">
      <!--참고로 else 역할의 th:unless 사용-->
      <tr>
        <th>pcode</th>
        <th>category</th>
        <th>pname</th>
        <th>price</th>
      </tr>
      <tr th:each="productDto : ${pList}">
        <td th:text="${productDto.pcode}"></td>
        <td th:text="${productDto.category}"></td>
        <td th:text="${productDto.pname}"></td>
        <td th:text="${#numbers.formatCurrency(productDto.price)}"></td>
      </tr>
    </table>
  </body>
</html>
