<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파라미터 연습</title>
  </head>
  <body>
    <h1>파라미터</h1>
    <p>
      터미널 로그 확인하세요.!!! 실행
      <a href="/list?name=tom&age=23"
        >http://localhost:8080/list?name=tom&age=23</a
      >
      는 로그 정상 출력.<br />
      실행 <a href="/list?name=tom">http://localhost:8080/list?name=tom</a> 는
      오류. age는 int로 저장하는데 그 때 내부적으로는 Integer.parseInt(문자열)
      실행. 파라미터 값은 문자열입니다. 이런 경우는 파라미터 기본값을 설정하여
      해결 가능.
    </p>
    <p>
      파라미터가 많은 경우
      http://localhost:8080/list?name=tom&age=23&address=서울&gender=male
      파라미터 갯수만큼 변수를 선언해야 합니다. 그런데 너무 많다면
      비효율적입니다. 그래서 dto 클래스를 사용합니다. 스프링부트는 파라미터
      이름과 dto 변수명으로 매핑하여 저장합니다.
    </p>
    <p>
      dto 타입으로 매핑되는 실행
      <a href="/listB?name=tom&age=23&address=서울&gen=male"
        >http://localhost:8080/listB?name=tom&age=23&address=서울&gen=male</a
      >
    </p>
    <h3>POST 요청 처리 예시</h3>
    <form action="list" method="POST">
      <!-- dto와 바로 매핑하여 저장하려면 name 속성값을 dto 변수명과 일치시키기 -->
      <input type="text" name="name" placeholder="name 입력하세요." />
      <input type="text" name="age" placeholder="age 입력하세요." />
      <input type="text" name="address" placeholder="address 입력하세요." />
      <input type="text" name="gen" placeholder="gender 입력하세요." />
      <button type="submit">저장</button>
    </form>
    <h3>파일(이미지,PDF 등등) 전송</h3>
    <p>
      application.properties 파일에 서버에서 업로드 요청이 온 파일을 어느 폴더에
      저장할 것인지 설정 필요합니다.
    </p>
    <p>
      form 태그의 필수 속성은 method="POST" enctype="multipart/form-data"입니다.
      컨트롤러 클래스에서는 파일을 MultipartFile 타입으로 저장해야 합니다.
    </p>
    <form action="upload" method="POST" enctype="multipart/form-data">
      <input type="text" name="title" placeholder="제목 입력" />
      <input type="file" name="uploadFile" />
      <button type="submit">업로드</button>
      <p><a href="/">홈으로 가기</a></p>
    </form>
  </body>
</html>
