<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/table.css" />
  </head>
  <body>
    <div>
      <table th:if="${cList != null}">
        <tr>
          <th>인덱스</th>
          <th>작성자</th>
          <th>제목</th>
          <th>읽은 수</th>
          <th>쓴날짜</th>
          <th>IP</th>
          <th>댓글 수</th>
        </tr>
        <tr th:each="communityDto : ${cList}">
          <td th:text="${communityDto.idx}"></td>
          <td th:text="${communityDto.writer}"></td>
          <td>
            <a
              th:href="@{/content(idx=${communityDto.idx})}"
              th:text="${communityDto.title}"
            ></a>
          </td>
          <td th:text="${communityDto.readCount}"></td>
          <td th:text="${communityDto.createDat}"></td>
          <td th:text="${communityDto.ip}"></td>
          <td th:text="${communityDto.commentCount}"></td>
        </tr>
      </table>
      <button onclick="location.href='input'">글 작성하기</button>
    </div>
  </body>
</html>
