<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>customer</title>
    <link rel="stylesheet" href="/css/table.css" />
  </head>
  <body>
    <h1>customer/list</h1>
    <hr />
    <p>
      애플리케이션의 기능에 따라 url 경로와 view 파일이 저장되는 폴더를 추가 할
      수 있습니다. 여기서는 customer를 경로에 추가하고 view 파일도 customer
      폴더에 저장했습니다.
    </p>
    <p>
      /customer/list는 Model 인터페이스를 이용해서 데이터(애트리뷰트)를 View
      customer 폴더 list.html에 전달하는 예시입니다. ⭕서버사이드렌더링에
      타임리프 문법을 사용합니다.
    </p>
    <h2>애트리뷰트 출력 연습</h2>
    <p>
      /customer/list 에서만 전달 받는 애트리뷰트입니다. 보러가기
      <a href="list">여기 클릭</a>
    </p>
    <ul>
      <li th:text="${pageNo}">
        애트리뷰트 이름 page로 저장된 데이터(문자열) 출력
      </li>
      <div th:if="${dto != null}">
        <li th:text="${dto.name}">
          애트리뷰트 이름 dto로 저장된 객체의 name 필드 출력
        </li>
        <li th:text="${dto.address}">
          애트리뷰트 이름 dto로 저장된 객체의 address 필드 출력
        </li>
      </div>
      <li th:text="${list}">애트리뷰트 이름 list로 저장된 list 객체</li>
      <li>
        <ul>
          <!-- li 태그 출력이 반복됩니다. list의 각 요소를 순서대로 str 저장하여 반복 -->
          <li th:each="str:${list}">
            <span th:text="${str}"></span>
          </li>
        </ul>
      </li>
    </ul>
    <p>
      <a href="/">home</a>
    </p>
    <p>
      /customer/list 에서만 전달 받는 애트리뷰트입니다. 👉 CustomerMapper(dao)
      에서 테이블의 데이터를 모두 조회한 결과를 보러 가기
      <a href="cuslist">여기 클릭!!</a>
      (⭕주의 : 경로에 하위폴더가 있을 때에는 / (루트) 사용을 주의하세요.)
    </p>
    <h3>customer</h3>
    <hr />
    <div th:if="${cusList==null}">
      customer 테이블에서 가져온 애트리뷰트는 값이 없습니다.
    </div>
    <table th:if="${cusList != null}">
      <!--참고로 else 역할의 th:unless 사용-->
      <tr>
        <th>customerId</th>
        <th>name</th>
        <th>age</th>
        <th>email</th>
        <th>가입날짜</th>
      </tr>
      <tr th:each="cusDto : ${cusList}">
        <td th:text="${cusDto.customerId}"></td>
        <td th:text="${cusDto.name}"></td>
        <td th:text="${cusDto.age}"></td>
        <td th:text="${cusDto.email}"></td>

        <td
          th:if="${cusDto.regDate != null}"
          th:text="${#dates.format(cusDto.regDate,'yyyy-MM-dd')}"
        ></td>
      </tr>
    </table>
  </body>
</html>
